python==3.10.5
chromadb==0.6.3
fastapi==0.116.2
langchain_community==0.3.29
numpy==2.2.3
openai==1.107.3
pandas==2.3.2
pdfminer.six==20250324
PyArabic==0.6.15
pydantic==2.11.9
pymongo==4.15.1
python-dotenv==1.1.1
python_docx==1.1.2
Requests==2.32.5
streamlit==1.43.2
transformers==4.50.3
uvicorn==0.35.0
torch==2.6.0
sentence-transformers==3.4.1
